.attendance-container {
    text-align: center;
    max-width: 400px;
    margin: 100px auto;
}

.attendance-container h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.attendance-container h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 50px;
}

.status-area {
    margin-bottom: 10px;
}

.status-label {
    background: #ccc;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 15px;
    color: #464646;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.attendance-btn,
.leaving-btn {
    background: #000;
    color: #fff;
    font-size: 20px;
    padding: 10px 45px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.break-btn {
    font-size: 15px;
    background: #fff;
    font-size: 20px;
    padding: 10px 30px;
    color: #000;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.thank-you-message {
    font-size: 20px;
}

/* PC (1400-1540px) 用の調整 */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .attendance-container,
    .attendance-list-container,
    .attendance-detail-container,
    .request-list-container {
        width: 60%;
        margin: 50px auto;
        padding: 15px;
    }

    .attendance-container h1 {
        font-size: 40px;
    }

    .attendance-table,
    .attendance-detail-table,
    .request-table table {
        font-size: 0.95rem;
    }

    .button-group {
        gap: 50px;
    }
}

/* タブレット (768-850px) 用の調整 */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .attendance-container,
    .attendance-list-container,
    .attendance-detail-container,
    .request-list-container {
        max-width: 85%;
        margin: 50px auto;
        padding: 10px;
    }

    .attendance-container h1 {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .attendance-container h2 {
        font-size: 25px;
    }

    .button-group {
        gap: 30px;
    }

    .attendance-btn,
    .leaving-btn,
    .break-btn {
        font-size: 18px;
        padding: 8px 35px;
    }

    .attendance-table,
    .attendance-detail-table,
    .request-table table {
        font-size: 0.9rem;
    }

    .month-selector {
        font-size: 18px;
    }

    .current-date img {
        height: 20px;
        width: 20px;
        padding-right: 5px;
    }

    .tab-link {
        padding: 20px;
    }

    .attendance-detail-table th {
        padding-left: 35px;
    }

    .attendance-detail-table input[type="time"] {
        font-size: 15px;
        width: 70px;
        margin: 0 10px;
    }
}
