body {
    height: 100%;
    margin: 0;
    background-color: #bcbcbc70;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    background-color: #000;
    height: 30px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo img {
    height: 30px;
}

.header__nav {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header__nav button {
    text-decoration: none;
    width: 110px;
    padding: 10px 5px;
    color: #fff;
    background-color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.error {
    color: rgb(255, 0, 0);
    font-size: 1rem;
    margin: 20px 0;
}

/* PC用レスポンシブ調整 (1400-1540px) */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .header {
        padding: 15px 20px;
    }

    .header__nav button {
        width: 130px;
        font-size: 20px;
    }
}

/* タブレット用レスポンシブ調整 (768-850px) */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .header {
        height: auto;
        padding: 10px;
    }

    .header__logo img {
        height: 20px;
    }

    .header__nav {
        justify-content: end;
        width: 100%;
    }

    .header__nav button {
        width: 78px;
        padding: 8px 0;
        font-size: 13px;
    }
}
