.attendance-detail-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

.attendance-detail-container h1 {
    padding-left: 20px;
    height: 20px;
    border-left: 8px solid #413e40;
    padding-bottom: 30px;
}

.attendance-detail-table {
    margin: 40px 0;
    background: #fff;
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
}

.attendance-detail-table th,
.attendance-detail-table td {
    height: 50px;
    padding: 12px 20px;
    border-bottom: 2px solid #ddd;
    font-weight: bold;
}

.attendance-detail-table th {
    color: #898989;
    font-weight: bold;
    text-align: left;
    padding-left: 40px;
}

.attendance-detail-table td {
    text-align: left;
    padding-left: 80px;
    width: 70%;
}

.date-year {
    margin-right: 150px;
}

.time-separator {
    margin: 0 50px;
}

.attendance-detail-table td textarea {
    width: 65%;
    height: 50px;
    resize: none;
    margin: 10px 0;
    text-align: left;
    padding: 5px;
    border: 1px solid #ccc;
}

.attendance-detail-table input[type="time"] {
    text-align: center;
    width: 70px;
    padding: 6px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.attendance-detail-table input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    opacity: 0;
}

.break-time-container {
    display: flex;
    gap: 5px;
}

.button-area {
    text-align: end;
}

.primary-btn {
    width: 15%;
    background: #000;
    color: #fff;
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.approved-btn {
    width: 16%;
    background: #575757;
    color: #fff;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}


/* PC (1400-1540px) 用の調整 */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .attendance-detail-container {
        width: 60%;
        margin: 5% auto;
        padding: 10px;
    }

    .attendance-detail-table {
        font-size: 20px;
    }

    .attendance-detail-table input[type="time"] {
        font-size: 20px;
    }

    .primary-btn {
        font-size: 20px;
        padding: 8px 12px;
    }
}

/* タブレット (768-850px) 用の調整 */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .attendance-detail-container {
        max-width: 85%;
        margin: 30px auto;
        padding: 10px;
    }

    .attendance-detail-container h1 {
        font-size: 25px;
        height: 0;
        padding-left: 10px;
        padding-bottom: 40px;
    }

    .attendance-detail-table {
        font-size: 0.9rem;
    }

    .attendance-detail-table input[type="time"] {
        font-size: 15px;
        width: 70px;
    }

    .primary-btn {
        font-size: 16px;
        padding: 8px 10px;
    }

}
